<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of People</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.name %></td>
        <td><%= reservation.number_of_people %></td>
        <td><%= link_to 'Show', restaurant_reservation_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back to Restaurants', restaurants_path %>
