<h1>
  Reservation Detail
</h1>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Number of people:</strong>
  <%= @reservation.number_of_people %>
</p>

<%= link_to 'Destroy', restaurant_reservations_path(reservation.restaurant_id), method: :delete, data: { confirm: 'Are you sure?' } %>
