<h1>Reservations</h1>
<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of People</th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.name %></td>
        <td><%= reservation.number_of_people %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', restaurant_path(@reservation.restaurant) %>
