<!DOCTYPE html>
<html>
  <head>
   <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome, <%= @reservation.name %></h1>
    <p>
      Your reservation at <%= @reservation.restaurant.name %> is confirmed.
      <br>
    </p>
    <p>Thanks for using Reserver!</p>
  </body>
</html>
